{% extends 'base.html' %}

{% block header %}
  <h1 class="blog-title">{% block title %}Workouts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New Workout</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1 class="post-title">{{ post['title'] }}</h1>
          <div class="post-meta">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user and g.user['id'] == post['author_id'] %}
          <a class="edit-action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="post-body">{{ post['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr class="post-divider">
    {% endif %}
  {% endfor %}
{% endblock %}
